:root {
    --music-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --main-background-color: #101f3f;
    --main-color: #f2ffff;
    --secondary-color: #7f889d;
    --active-color: #1383eb;
    --hover-color: #ffffff26;
    --playing-color: #134deb;
    --text-color: #5c5c5c;
    --secondary-text-color: #ffffff;
    --form-background-color: #15172b;
    --edit-color: #35577c;
    --fixed-background-color: rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-color);
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
}

#dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    background-color: var(--fixed-background-color);
    padding: 0.25rem 1rem;
}

#left-db {
    display: flex;
    align-items: center;
    flex: 0.3;
}

#center-db {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-db {
    flex: 0.3;
}

.music-infor {
    margin-left: 0.5rem;
}

.music-name,
.singer-name {
    font-size: 0.75rem;
    width: 10rem;
}

.singer-name {
    color: var(--secondary-color);
}

.dashboard-cd {
    border: 0.125rem solid var(--main-color);
    background: center / cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.active {
    color: var(--active-color);
}

#control {
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: relative;
}

#main-control {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#volume-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
}

#volume-btn::before {
    content: "";
    width: 10rem;
    height: 1.5rem;
    position: absolute;
    bottom: 2rem;
}

#volume-btn:hover #volume-slider {
    display: inline-block;
}

#volume-btn .show {
    display: inline-block;
}

#mute-volume,
#on-volume {
    display: none;
}

#volume-slider {
    width: 8rem;
    position: absolute;
    display: none;
    bottom: 2rem;
}

#volume-slider::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
}

.control-button {
    display: inline;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    align-self: center;
}

.control-button:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
    color: var(--active-color);
}

#play-button {
    font-size: 2.5rem;
}

.toggle-play {
    display: flex;
    justify-content: center;
    align-content: center;
}

.toggle-play .pause-btn {
    display: none;
}

.toggle-play.playing .pause-btn {
    display: inline-block;
}

.toggle-play.playing .play-btn {
    display: none;
}

#timebar-container {
    width: 96%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#current-time {
    color: var(--secondary-color);
}

.time {
    margin: auto 0;
    font-size: 0.75rem;
    color: var(--main-color);
}
.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 0.25rem;
    outline: none;
    opacity: 0.9;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    box-shadow: var(--music-shadow);
    margin: 0.5rem 1rem;
}

#time-bar::-webkit-slider-thumb {
    display: none;
}

#time-bar:hover {
    opacity: 1;
}

#time-bar:hover::-webkit-slider-thumb {
    display: block;
}

#time-bar:hover::-moz-range-thumb {
    display: block;
}

#song-list {
    width: 100%;
    height: calc(100vmin - 5.25rem);
    overflow-y: auto;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: var(--active-color);
    border-radius: 50%;
    cursor: pointer;
}

::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background: var(--active-color);
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
}

#song-list::-webkit-scrollbar {
    width: 0.5rem;
}

#song-list::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
}

.song {
    display: flex;
    padding: 0.5rem;
    border-top: var(--secondary-color) solid 0.0125rem;
    font-size: 0.75rem;
}

.song:hover {
    background: var(--hover-color);
}

.song.playing-song {
    background: var(--hover-color);
    opacity: 0.9;
}
.song-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 0.5rem;
    border: 0.125rem solid #fff;
}

/* form page */

.form-container {
    margin-top: 3rem;
    min-height: calc(100vh - 3rem);
    min-width: 48.5rem;

    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.form {
    background-color: #15172b;
    border-radius: 1.25rem;
    box-sizing: border-box;
    height: 31.25rem;
    padding: 1.25rem;
    margin: 0 1rem;
    min-width: 22.25rem;
    color: var(--secondary-text-color);
}

.title {
    font-family: sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    margin-top: 2rem;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.125rem;
    padding-bottom: 1.125rem;
}

.input-container {
    height: 3.125rem;
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
}

.input {
    background-color: #303245;
    border-radius: 0.5rem;
    border: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    height: 100%;
    outline: 0;
    padding: 0.75rem;
    width: 100%;
}

.cut {
    background-color: var(--form-background-color);
    border-radius: 1.125rem;
    height: 1.25rem;
    left: 1.25rem;
    position: absolute;
    top: -1.25rem;
    transform: translateY(0);
    transition: transform 200ms;
    width: 4.75rem;
}

.cut-short {
    width: 3.125rem;
}

.warning {
    color: #ff0000b2;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(0.5rem);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 1.25rem;
    line-height: 0.875rem;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 1.25rem;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-1.875rem) translateX(0.625rem) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #dc2f55;
}

#submit-btn {
    background-color: #08d;
    border-radius: 0.75rem;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 1.2rem;
    height: 3.125rem;
    margin-top: 2.375rem;
    outline: 0;
    text-align: center;
    width: 100%;
}

#submit-btn:active {
    background-color: #06b;
}

#singer-side,
#song-side {
    min-width: 26.5rem;
}

.singer,
.edit-song {
    min-height: 3rem;
    line-height: 3rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
    margin: 1rem;
    background-color: var(--edit-color);
    color: var(--secondary-text-color);
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.update-delete-icon i {
    margin: auto 0.25rem;
}

.update-delete-icon i:hover {
    opacity: 0.8;
}

#edit-singer.input {
    width: 12rem;
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
    padding: 0 0.5rem;
    border: 0.125rem solid;
}
