:root {
    --music-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --active-color: #1383eb;
    --playing-color: #134deb;
    --hover-color: #86a5fa7e;
    --text-color: #5c5c5c;
    --secondary-text-color: #ffffff;
    --main-color: #effbff;
    --background-color: #cbcfd9;
    --form-background-color: #15172b;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--active-color);
    border-radius: 50%;
    cursor: pointer;
}

::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background: var(--active-color);
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #99acb8;
    border-radius: 0.5rem;
}

* {
    margin: 0;
}

body {
    background-color: var(--background-color);
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 24rem;
    background-color: var(--background-color);
    box-shadow: var(--music-shadow);
    position: fixed;
    top: 0;
    z-index: 1;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
}
.dashboard #music-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

.dashboard-cd {
    background: center / cover;
    width: 12rem;
    padding-top: 100%;
    border-radius: 50%;
    margin: 1rem 0;
}

.active {
    color: var(--active-color);
}

#control {
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: relative;
}

#main-control {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#volume-btn {
    position: absolute;
    right: -28px;
    bottom: 22px;
    display: flex;
    flex-direction: column;
}

#volume-btn::before {
    content: "";
    width: 1.5rem;
    height: 7.25rem;
}

#volume-btn:hover #volume-slider {
    display: inline-block;
}

#volume-btn .show {
    display: inline-block;
}

#mute-volume,
#on-volume {
    display: none;
}

#volume-slider {
    width: 5rem;
    transform: rotate(-90deg);
    position: absolute;
    right: -2.75rem;
    bottom: 3rem;
    display: none;
    background: linear-gradient(90deg, #bd1b4b 100%, #ccc 100%);
}

#volume-slider::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
}

.control-button {
    display: inline;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    align-self: center;
}

.control-button:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}

#prev-btn:hover,
#next-btn:hover {
    color: var(--active-color);
}

#play-button {
    color: var(--active-color);
    font-size: 3rem;
}

.toggle-play {
    display: flex;
    justify-content: center;
    align-content: center;
}

.toggle-play .pause-btn {
    display: none;
}

.toggle-play.playing .pause-btn {
    display: inline-block;
}

.toggle-play.playing .play-btn {
    display: none;
}

#timebar-container {
    width: 96%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.time {
    margin: auto 0;
    font-size: 0.75rem;
    color: var(--active-color);
}
.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 0.25rem;
    outline: none;
    opacity: 0.9;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    background: #ccc;
    border-radius: 0.5rem;
    box-shadow: var(--music-shadow);
    margin: 1rem;
}

#time-bar::-webkit-slider-thumb {
    display: none;
}

#time-bar:hover {
    opacity: 1;
    height: 0.5rem;
    margin-bottom: 0.75rem;
}

#time-bar:hover::-webkit-slider-thumb {
    display: block;
}

#time-bar:hover::-moz-range-thumb {
    display: block;
}

#song-list {
    margin-top: 24.25rem;
    width: 100%;
    color: var(--text-color);
    border-radius: 0.5rem;
}

.song {
    display: flex;
    padding: 0.5rem;
    background: #ffffff;
    border-bottom: #ccc solid 0.125rem;
}

.song:hover {
    color: var(--secondary-text-color);
    background: var(--hover-color);
    border-bottom: var(--hover-color) solid 0.125rem;
}

.song.playing-song {
    background: var(--playing-color);
    color: #e6f1f9;
    opacity: 0.9;
}
.song-image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 0.5rem;
    border: 0.125rem solid #fff;
}

/* form page */

.form-container {
    margin-top: 3rem;
    min-height: 100vh - 3rem;
    max-width: 100vw;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.form {
    background-color: #15172b;
    border-radius: 1.25rem;
    box-sizing: border-box;
    height: 31.25rem;
    padding: 1.25rem;
    margin: 0 1rem;
    min-width: 22.25rem;
    color: var(--secondary-text-color);
}

.title {
    font-family: sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    margin-top: 2rem;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.125rem;
    padding-bottom: 1.125rem;
}

.input-container {
    height: 3.125rem;
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
}

.input {
    background-color: #303245;
    border-radius: 0.75rem;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 1.2rem;
    height: 100%;
    outline: 0;
    padding: 0.25rem 1.25rem 0;
    width: 100%;
}

.cut {
    background-color: var(--form-background-color);
    border-radius: 1.125rem;
    height: 1.25rem;
    left: 1.25rem;
    position: absolute;
    top: -1.25rem;
    transform: translateY(0);
    transition: transform 200ms;
    width: 4.75rem;
}

.cut-short {
    width: 3.125rem;
}

.warning {
    color: #ff0000b2;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(0.5rem);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 1.25rem;
    line-height: 0.875rem;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 1.25rem;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-1.875rem) translateX(0.625rem) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #dc2f55;
}

#submit-btn {
    background-color: #08d;
    border-radius: 0.75rem;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 1.2rem;
    height: 3.125rem;
    margin-top: 2.375rem;
    outline: 0;
    text-align: center;
    width: 100%;
}

#submit-btn:active {
    background-color: #06b;
}

#singer-side {
    min-width: 26.5rem;
}

.singer,
.edit-song {
    height: 3rem;
    line-height: 3rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
    margin: 1rem;
    background-color: var(--active-color);
    color: var(--secondary-text-color);
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.update-delete-icon i {
    margin: auto 0.25rem;
}

.update-delete-icon i:hover {
    opacity: 0.8;
}

#edit-singer.input {
    width: 12rem;
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
}
