:root {
    --music-shadow: #0003 0px 2px 8px 0px;
    --main-background-color: #122c3f;
    --secondary-background-color: #0c1d2a;
    --playlist-background-color: #2f75a7;
    --main-color: #f2ffff;
    --secondary-color: #ffffff80;
    --active-color: #1383eb;
    --hover-color: #ffffff11;
    --form-background-color: #15172b;
    --edit-color: #35577c;
    --warning-color: #ff0000b2;
}

* {
    margin: 0;
}

body {
    background-color: var(--main-background-color);
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    color: var(--main-color);
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
}

/* for classes */
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.btn {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: var(--main-color);
    padding: 0.5rem;
}

.btn:hover {
    color: var(--active-color);
}

.input-container {
    height: 3rem;
    position: relative;
    width: 100%;
    margin: 0.75rem 0;
    border-radius: 0.5rem;
    background-color: var(--hover-color);
}

.input {
    border-radius: 0.75rem;
    border: 0;
    box-sizing: border-box;
    outline: none;
    padding: 0.5rem;
    background-color: transparent;
    width: 100%;
    color: var(--main-color);
}

.hide-element {
    display: none !important;
}

.btn.warning:hover {
    color: var(--warning-color);
}

/* for id  */

#header {
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--music-shadow);
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    background-color: var(--main-background-color);
    z-index: 1;
}

#left-nav {
    flex: 0.1;
}

#search-bar {
    flex: 0.8;
    margin: 0 2rem;
    position: relative;
    max-width: 50rem;
}

#search-bar .input-container {
    margin: 0 auto;
    height: 2.5rem;
    justify-content: center;
    border-radius: 1.5rem;
    padding: 0 1rem;
    box-sizing: border-box;
}

#search-bar .searching {
    border-radius: 1.5rem 1.5rem 0 0;
    background-color: var(--secondary-background-color);
}

#user-bar {
    flex: 0.1;
}

#suggest-list {
    background-color: var(--secondary-background-color);
    position: absolute;
    width: 100%;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: var(--music-shadow);
}

#suggest-list .song:hover {
    background-color: transparent;
}

#dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    background-color: var(--secondary-background-color);
    padding: 0.25rem 1rem;
    animation: showDashBar 0.5s ease forwards;
}

@keyframes showDashBar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#left-db {
    display: flex;
    align-items: center;
    flex: 0.3;
}

#center-db {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-db {
    flex: 0.3;
}

.music-infor {
    margin-left: 0.5rem;
}

.music-name,
.singer-name {
    font-size: 0.75rem;
    width: 10rem;
}

.singer-name {
    color: var(--secondary-color);
    font-weight: 500;
}

.dashboard-cd {
    border: 0.125rem solid var(--main-color);
    background: center / cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.active {
    color: var(--active-color);
}

#control {
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: relative;
}

#main-control {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#volume-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#volume-btn::before {
    content: "";
    width: 10rem;
    height: 1.5rem;
    display: none;
    position: absolute;
    bottom: 1rem;
}

#volume-btn:hover #volume-slider,
#volume-btn:hover::before {
    display: block;
}

#volume-slider {
    width: 8rem;
    position: absolute;
    display: none;
    bottom: 1.5rem;
}

#volume-slider::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
}

.control-button {
    display: inline;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    align-self: center;
}

.control-button:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
    color: var(--active-color);
}

#play-button {
    font-size: 2.5rem;
}

#play-button .pause-btn {
    display: none;
}

#play-button.playing .pause-btn {
    display: inline-block;
}

#play-button.playing .play-btn {
    display: none;
}

#timebar-container {
    width: 96%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#current-time {
    color: var(--secondary-color);
}

.time {
    margin: auto 0;
    font-size: 0.75rem;
    color: var(--main-color);
}
.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 0.25rem;
    outline: none;
    opacity: 0.9;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    box-shadow: var(--music-shadow);
    margin: 0.5rem 1rem;
}

#time-bar::-webkit-slider-thumb {
    display: none;
}

#time-bar:hover {
    opacity: 1;
}

#time-bar:hover::-webkit-slider-thumb {
    display: block;
}

#time-bar:hover::-moz-range-thumb {
    display: block;
}

#mute-volume {
    display: none;
}

.mute #mute-volume {
    display: inline;
}

.mute #on-volume {
    display: none;
}

#content {
    max-width: 60rem;
    min-height: 55rem;
    margin-left: auto;
    margin-right: auto;
}

#all-song-list {
    width: 100%;
    margin-top: 5rem;
    background-color: #23587d;
}

#playlist-container {
    position: fixed;
    right: 0;
    margin-top: 5rem;
    background-color: var(--playlist-background-color);
    height: calc(100vh - 10.75rem);
}

#playlist {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    animation: showSideBar 0.5s ease forwards;
}

@keyframes showSideBar {
    from {
        width: 0;
    }
    to {
        width: 25rem;
    }
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: var(--active-color);
    border-radius: 50%;
    cursor: pointer;
}

::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background: var(--active-color);
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
}

#playlist::-webkit-scrollbar {
    width: 0.5rem;
}

#playlist::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
}

.song {
    display: flex;
    padding: 0.5rem;
    border-top: #7f889d33 solid 0.025rem;
    font-size: 0.75rem;
}

.song:hover {
    background-color: var(--hover-color);
}

.song.playing-song {
    background-color: var(--hover-color);
}

.song-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 0.5rem;
    border: 0.125rem solid #fff;
}

.playing-song .del {
    display: none;
}

/* form page */

.form-container {
    margin-top: 3rem;
    min-height: calc(100vh - 3rem);
    min-width: 48.5rem;

    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.form {
    background-color: #15172b;
    border-radius: 1.25rem;
    box-sizing: border-box;
    height: 31.25rem;
    padding: 1.25rem;
    margin: 0 1rem;
    min-width: 22.25rem;
    color: var(--secondary-text-color);
}

.title {
    font-family: sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    margin-top: 2rem;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.125rem;
    padding-bottom: 1.125rem;
}

.cut {
    background-color: var(--form-background-color);
    border-radius: 1.125rem;
    height: 1.25rem;
    left: 1.25rem;
    position: absolute;
    top: -1.25rem;
    transform: translateY(0);
    transition: transform 200ms;
    width: 4.75rem;
}

.cut-short {
    width: 3.125rem;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(0.5rem);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 1.25rem;
    line-height: 0.875rem;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 1.25rem;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-1.875rem) translateX(0.625rem) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #dc2f55;
}

#submit-btn {
    background-color: #08d;
    border-radius: 0.75rem;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 1.2rem;
    height: 3.125rem;
    margin-top: 2.375rem;
    outline: 0;
    text-align: center;
    width: 100%;
}

#submit-btn:active {
    background-color: #06b;
}

#singer-side,
#song-side {
    min-width: 26.5rem;
}

.singer,
.edit-song {
    min-height: 3rem;
    line-height: 3rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
    margin: 1rem;
    background-color: var(--edit-color);
    color: var(--secondary-text-color);
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.update-delete-icon i {
    margin: auto 0.25rem;
}

.update-delete-icon i:hover {
    opacity: 0.8;
}

#edit-singer.input {
    width: 12rem;
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
    padding: 0 0.5rem;
    border: 0.125rem solid;
}
